.collaborators {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  .collaborators_card {
    height: 130px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s linear all;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}
