.characteristics {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .table_contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    h1 {
      margin-bottom: 0;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 20px;
      color: #000000;
    }
  }
  .pdf_download {
    height: 100%;
    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    p {
      margin-bottom: 0;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #2b7bc6;
    }
  }
}

@media (max-width: 1200px) {
  .characteristics {
    gap: 25px;
    .table_contents {
      .toc-list {
        width: 300px;
      }
    }
    .pdf_download {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 900px) {
  .characteristics {
    display: flex;
    flex-direction: column-reverse;
    .table_contents {
      width: 100%;
      gap: 20px;
      .toc-list {
        width: 100%;
      }
    }
    .pdf_download {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 15px;
    }
  }
}
