.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    p {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 0;
    }
  }
}
