footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  flex-direction: column;

  .top_footer {
    width: 100%;
    padding: 36px calc((100% - 1540px) / 2);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 40px;
          color: #2b7bc6;
        }
      }
    }
    .call_info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 18px;
      h1 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 40px;
        color: #000000;
        margin-bottom: 0;
      }
      button {
        border: 1px solid #2b7bc6;
        border-radius: 4px;
        width: 178px;
        height: 36px;
        background: none;
        transition: 0.3s linear all;
        a {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.15em;
          color: #2b7bc6;
          text-decoration: none;
          transition: 0.3s linear all;
        }
        &:hover {
          border: 1px solid #2b7bc6;
          background-color: #2b7bc6;
          a {
            color: #000000;
          }
        }
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 0;
        &:not(:first-child) {
          margin-top: -10px;
        }
      }
    }
    .stock {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      pre {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
      }
    }
  }
  .middle_footer {
    padding: 47px calc((100% - 1540px) / 2);
    padding-top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo_part {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 17px;
      a {
        text-decoration: none;
        img {
          width: 214px;
          height: 24px;
        }
      }
      p {
        margin-bottom: 0;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #99a3a9;
      }
    }
    .media_part {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 29px;
      a {
        text-decoration: none;
      }
    }
    .yandex_part {
      img {
        width: 160px;
        height: 118px;
      }
    }
  }
  .low_footer {
    background: #f3f9ff;
    padding: 41px calc((100% - 1540px) / 2);
    padding-bottom: 49px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    p {
      margin-bottom: 0;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #99a3a9;
      a {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1600px) {
  footer {
    .top_footer {
      padding: 36px 25px;
    }
    .middle_footer {
      padding: 47px 25px;
      padding-top: 0;
    }
    .low_footer {
      padding: 41px 25px;
    }
  }
}

@media (max-width: 990px) {
  footer {
    .top_footer {
      .stock {
        display: none;
      }
    }
  }
}

@media (max-width: 850px) {
  footer {
    .top_footer {
      padding: 30px 15px;
    }
    .middle_footer {
      padding: 30px 15px;
      padding-top: 0;
      .logo_part {
        a {
          img {
            width: 170px;
            height: 20px;
          }
        }
      }
      .yandex_part {
        img {
          width: 135px;
          height: 90px;
        }
      }
    }
    .low_footer {
      padding: 35px 15px;
    }
  }
}
@media (max-width: 640px) {
  footer {
    .top_footer {
      .call_info {
        display: none;
      }
    }
    .middle_footer {
      .yandex_part {
        display: none;
      }
    }
  }
}

@media (max-width: 580px) {
  footer {
    padding-bottom: 70px;
    .top_footer {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
    .middle_footer {
      padding: 20px 10px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 15px;
      .logo_part {
        gap: 10px;
      }
    }
    .low_footer {
      padding: 20px 10px;
    }
  }
}
